AtomPair NE2 9 FE 113 HARMONIC 2.0 0.1
Angle FE 113 NE2 9 ND1 9 CIRCULARHARMONIC 2.806 .2
Angle FE 113 NE2 9 CG 9 CIRCULARHARMONIC 2.845 .2

AtomPair NE2 67 FE 113 HARMONIC 2.0 0.1
Angle FE 113 NE2 67 ND1 67 CIRCULARHARMONIC 2.806 .2
Angle FE 113 NE2 67 CG 67 CIRCULARHARMONIC 2.845 .2
